.Quote{
    border: none;
    border-radius: 10px;
    background-color: #ff3e3ec9;
    padding: 5px 5px;
    height: 60px; 
    min-width: 200px;
    line-height: 1;
    position: absolute;
    right: 20px ;
    top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Quote h1{
    font-size: 18px;
}